@font-face {
  font-family: "Biennale Regular";
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Biennale-Regular.otf') format('opentype');
}


@font-face {
  font-family: "Biennale Regular";
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Biennale-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Biennale Ligth";
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/Biennale-Ligth.otf') format('opentype');
}

