$primaryColor: #5e49ff;
$secondaryColor: #a38dfc;
$grayColor: rgb(126, 119, 119);
$lightGreyColor: #f0f5ff;
$darkGreyColor: #ffffff;
$errorColor: #ff5763;
$whiteColor: #fff;
$grayColorBold: rgb(88, 86, 86);
$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Ligth";
$breakpointDesktop: 1088px;
